
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trade.css') }}">
</head>
<body>



    
    <nav class="navbar">
        <div class="logo">VelocityAlgo</div>
        <ul>
            <li></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#community">Community</a></li>
            <li><a href="#points">Points</a></li>
            <li><a href="{{ url_for('trade1') }}">Trade</a></li>
            <li><a href="#get-started" class="get-started">Get Started</a></li>
        </ul>
        
    </nav>

    <!-- <div class="content"style="font-size: 35px;"> -->
        <!-- <h1>Look first/<br>Then Leap.</h1> -->
    <div class="left-content">
        <ul>
            <button><li><a href="">Nifty 50</a></li></button>
            <button><li><a href="">Bank Nifty</a></li></button>
            <button><li><a href="">Fin Nifty</a></li></button>
        </ul>
    </div>
    </div>
    
</body>
</html>
    

